.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0 200px;
  border-bottom: 1px solid black;
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* profile.module.css */

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000000;
}
.logo{
  font-family: 'Gill Sans Ru';
  font-size: 36px;
}
.logo:hover{
  cursor: pointer;
}
.centered {
  text-align: center;
  width: 100%;
}

.profileInfo {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

.histogram {
  width: 100%;
  margin: 20px auto;
  display: flex;
  justify-content: center;
}

.pointInfo {
  position: absolute;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  padding: 10px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.results {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
  padding: 20px;
  box-sizing: border-box;
}

.resultsDivs {
  display: flex;
  justify-content: space-between;
  width: 90%;
}
.best {
  font-size: 24px;
}
.ipHistoryTitle {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}

.ipHistoryContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.ipItem {
  width: 100%;
  border: 1px solid #dddddd;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 20px;

}
hr{width: 100%;}
/* dropDownButton.module.css */

.menu {
  position: relative;
  cursor: pointer;
  text-decoration: underline;
  font-size: 18px;
}

.dropdown {
  position: absolute;
  right: -50px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 200px;

}
.dropdownReport {
  position: absolute;
  left: -40px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 200px;

}

.dropdownItem {
  display: block;
  padding: 10px;
  font-size: 16px;
  width: 100%;
  background-color: inherit;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  text-decoration: underline;
  text-align: center;
  border: none; 
  outline: none;
  color: black;
  font-family: 'Gill Sans Ru';
}



.dropdownItem:hover {
  background-color: #f7f7f7;
}

.dropdownItem:last-child {
  border-bottom: none;
}
.ipContainer {
  width: 80%;
  margin-top: 30px;

  background: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.ipLabel {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.ipBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ipInputs {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;

  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button{
  margin-top: 10px;
  padding: 5px;
  border: none;
  color: #343434;
  text-decoration: underline;
  background: inherit;
  font-size: 24px;
  cursor: pointer;
  border-radius: 5px;
}

.ipButton {
  margin-top: 10px;
  padding: 5px;
  border: none;
  color: #343434;
  text-decoration: underline;

  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
}

.mapContainer {
  margin-top: 20px;
}
.downloadBtn{
  margin-top: 10px;
  padding: 5px;
  border: none;
  color: #343434;
  text-decoration: underline;

  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
}