.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #F3F3F3;
    color:#343434;
    font-family: 'Gill Sans Ru';
}
.button{
    border: none;
    background: none;
    color:#343434;
    text-decoration: underline;
    text-transform: none;
    font-size: 22px;
    font-family: 'Gill Sans Ru';
    padding: 0;
}
.block{
    width: 20%;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 10px 10%;
    display: flex;
    flex-direction: column;
}
.label{
    width: 100%;
    text-align: center;
    margin: 50px 0;
    font-family: 'Gill Sans Ru';
    font-size: 24px;
}
.inputsLabel{
    font-size: 18px;
}
.inputs{
    margin: 10px 0;
}
.underBlock{
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin: 15px 0;
}
.underChild{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    width: 100%;

}

.underChildButton{

        border: none;
        background: none;
        color:#343434;
        text-decoration: underline;
        text-transform: none;
        font-size: 18px;
        font-family: 'Gill Sans Ru';
        padding: 5px;
}
.errorText{
    color: #B22727;
}